<app-search-books-form
  (searchBookshelf)="setFilters($event)"
></app-search-books-form>

<app-add-book-form
  (addBookToShelf)="addBookToShelf($event)"
></app-add-book-form>

<div class="library">
  <h2 *ngIf="!hasFilters()">Books:</h2>
  <h2 *ngIf="hasFilters()">Search Results:</h2>
  <button *ngIf="hasFilters()" (click)="clearFilters()">Clear Filters</button>

  <ul>
    <app-book
      *ngFor="let book of books; index as i"
      [book]="book"
      (toggleLentOut)="updateLentOut($event)"
      (removeBookFromShelf)="removeBookFromShelf($event)"
    ></app-book>
  </ul>
</div>
