<li
  class="book"
  [ngClass]="{ 'checked-out': book?.lentOut, available: !book?.lentOut }"
>
  <p>"{{ book?.title }}" by: {{ book?.author }}</p>
  <p>({{ book?.pages }} pages)</p>
  <p *ngIf="book?.lentOut" class="lent-out-message">
    (Book is currently lent out<span *ngIf="book?.lentOutTo"> to {{book?.lentOutTo?.displayName}}</span>)
  </p>
  <p *ngIf="showActions && !updating">
    <button (click)="toggleLentOut()">
      {{ !book?.lentOut ? "Lend to a friend" : "Book has been returned" }}
    </button>
    <button (click)="remove()">Remove & donate to library</button>
  </p>
  <form *ngIf="updating" (ngSubmit)="saveUpdate()">
    <label>Who's borrowing it?
      <select name="lentOutTo" [(ngModel)]="formLentToId">
        <option value="">Unspecified</option>
        <option *ngFor="let user of lendableUsers" [value]="user.id">{{user.displayName}}</option>
      </select>
    </label>
    <button type="submit">Confirm</button>
    <button type="button" (click)="cancelUpdate()">Cancel</button>
  </form>
</li>
